body {
	background-image: url('img/102.jpg');
	background-repeat: repeat-y repeat-x;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	background-color: #D6B2FF;
	border-radius: 10px;
}

#megawrapper {
	padding: 5px;
	background-color: #7C6794;
	margin: 0 auto;
	width: 980px;
	border-radius: 10px;
}

#supermegawrapper {
	padding: 5px;
	background-color: #584A68;
	margin: 0 auto;
	width: 1010px;
	border-radius: 10px;
}

#tr_curved {
	font: 60px/1.4 georgia, arial;
	letter-spacing: 0;
	color: #6CA9FF;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
}

#curved {
	 position: absolute;
	 left: 50%;
	 top: 0%;
}

#main_img {
	text-align: center;
}

#text_header {
	text-align: center;
	font-size: 27px;
	color: #6CA9FF;
	margin-top: 10px;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
}

.phon_header {
	text-align: center;
	color: #584A68;
}

#navigation {
	float: left;
	margin-top: -130px;
}

#navigation ul{
	margin-left: 25px;
	padding: 25px;
	list-style-type:none;
	border: 3px solid #7C6794;
	width: 100px;
	background-color: #D6B2FF;
	border-radius: 10px;
}

#navigation ul li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
	border-radius: 10px;
}


.menu_active {
	color: white !important;
	background-color: #FFC0CB !important;
	border: 3px solid #FF5757 !important;
}

#content {
	padding: 10px;
	margin-right: 90px;
	background-color: #D6B2FF;
	color: #551A8B;
	font-size: 18px;
	float: right;
}

#content h3 {
	color: #FF5757;
	/*font-size: 20px;*/
	font-weight: bold;
}

#footer {
	margin: 0 auto;
	width: 960px;
	background-color: grey;
}