body {
	background-image: url('img/102.jpg');
	background-repeat: repeat-y repeat-x;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	background-color: #D6B2FF;
	border-radius: 10px;
}

#megawrapper {
	padding: 5px;
	background-color: #7C6794;
	margin: 0 auto;
	width: 980px;
	border-radius: 10px;
}

#supermegawrapper {
	padding: 5px;
	background-color: #584A68;
	margin: 0 auto;
	width: 1010px;
	border-radius: 10px;
}

#tr_curved {
	font: 60px/1.4 georgia, arial;
	letter-spacing: 0;
	color: #6CA9FF;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
}

#curved {
	 position: absolute;
	 left: 50%;
	 top: 0%;
}

#main_img {
	text-align: center;
}

#text_header {
	text-align: center;
	font-size: 27px;
	color: #6CA9FF;
	margin-top: 10px;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
}

.phon_header {
	text-align: center;
	color: #584A68;
}

#navigation {
	float: left;
	margin-top: -330px;
}

#navigation ul{
	margin-left: 25px;
	padding: 25px;
	list-style-type:none;
	border: 3px solid #7C6794;
	width: 130px;
	background-color: #D6B2FF;
	border-radius: 10px;
}

#navigation ul li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
	border-radius: 10px;
	color: #584A68;
}


.menu_active {
	color: white !important;
	background-color: #FFC0CB !important;
	border: 3px solid #FF5757 !important;
}

#content {
	padding: 10px;
	margin-right: 90px;
	background-color: #D6B2FF;
	color: #584A68;
	font-size: 18px;
	float: right;
}

#content_index {
	width: 470px;
	text-align:justify;
	padding: 10px;
	margin-right: 90px;
	margin-top: 20px;
	background-color: #D6B2FF;
	color: #584A68;
	font-size: 18px;
	float: right;
}

#content_index h3 {
	color: #FF5757;
	font-weight: bold;
}

#content_index a{
	text-decoration: none;
	color: #584A68;
}

#footer {
	margin: 0 auto;
	width: 960px;
}
/*--slider--*/
#content_slider {
	width: 600px;
	text-align:justify;
	margin-right: 90px;
	margin-top: -40px;
	background-color: #D6B2FF;
	color: #584A68;
	font-size: 18px;
	float: right;
	height:500px;
}

.slider_wrap {
	margin-top: 50px;
	/*margin:30px auto;*/
	width:640px;
	height:400px;
	position:relative;
	overflow:hidden;
}
.slider_wrap img {
/*margin-top: 20px;*/
	width:100%;
	height:auto;
	display:none;
	position:absolute;
	top:0;
	left:0;	
}
.slider_wrap img:first-child {
	display:block;
}
