<!Doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.lettering.js"></script>
		<script type="text/javascript" src="js/eliptext.js"></script>
		<script type="text/javascript" src="js/my_scripts.js"></script>
		<meta name="keywords" content="<?=$page_title['keywords']?>" />
		<meta name="description" content="<?=$page_title['description']?>" />
		<meta name="title" content="<?=$page_title['title']?>" />
		<title><?=$page_title['title']?></title>

	</head>
	<body>
		<div id="supermegawrapper">
			<div id="megawrapper">
				<table id="wrapper">
					<tr id="header">
						<td>
						
						</td>	
					</tr>
					<tr id="tr_curved">
						<td><div id="curved">В гостях у сказки</div></td>
					</tr>
					<tr id="main_img">
						<td><img src="css/img/65157841_b2813a46d3c11c.png" /></td>
					</tr>
					<tr>		
						<td>
							<p id="text_header">Организация детских праздников</p>
							<p class="phon_header">моб.тел: (066)-223-30-68</p>
						</td>	
					</tr>
					<tr id="main_img">		
						<td><img src="css/img/2_2442.png" /></td>	
					</tr>
					<tr id="navigation">		
						<td>
							<ul>
								<?php 
									$menu = get_menu();
									foreach($menu as $item): ?>
										
										<li><a href="index.php?view=<?=$item['title_url'];?>" <?php if($view == $item['title_url']) echo "class = 'menu_active'";?>><?=$item['title']?></a></li>
									
									<?php endforeach;?>
							
							</ul>
						</td>	
					</tr>
					<tr id="content">		
						<td>
							<!--content-->
							<?php require_once "view/pages/" . $view . ".php";?>
						</td>	
					</tr>
					<tr id="footer">		
						<td>
							
						</td>	
					</tr>
				</table>
			</div>
		</div>	
	</body>
</html>